.contenedor{
    height:240px;
    display:flex;
    flex-flow:row wrap;
    align-content:space-around;
    background-color:azure;
    }
    .elemento{
        width:21%;
        background-color: rgba(115, 196, 198, 0.805);
        text-align: center;
        }