.contenedor{
    display:flex;
    flex-direction:row-reverse;
    flex-wrap:wrap-reverse;
    background-color: rgba(222, 149, 65, 0.423);
    }

.elemento{
    width:25%;
    text-align: center;
            
    }