.contenedor{
    height:240px;
    display:flex;
    flex-flow:row wrap;
    align-items:flex-end;
    }
    .elemento{
        width:21%;
        background-color: rgba(41, 149, 226, 0.805);
        text-align: center;
        }